* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

/* 1rem = 10px on regular devices */
html {
    font-size: 62.5%;
}

/* esto es para que las imagenes se ajusten al contenedor que les hemos designado */
img {
    width: 100%;
    display: block;
}