<div class="container">
    <section>
        <nav>
            <a routerLink="/main">HOME</a>
            <span> >>> </span>
            <a [routerLink]="['evento', evento.name]">{{evento.name}}</a>
        </nav>
        <div class="row">
            <div class="col-6 p-2">
                <img [src]="rutaCompletaImagen(evento.image)" [alt]="evento.name">
            </div>
            <div class="col-6 p-2">
                <h1>{{evento.name}}</h1>
                <p>{{evento.description}}</p>
            </div>
        </div>
    </section>
</div>