<div class="container">
    <section>

        <div class="row">
            <div class="col-2 ">
                <img src="https://cdnb.20m.es/ciencias-mixtas/files/2014/11/367px-Hedy_Lamarr-publicity.jpg" class="c"
                    alt="avatar">
            </div>

            <div class="col-10 p-2">
                <ul>
                    <li>Name: {{user.name}}</li>
                    <li>E-mail: {{user.email}}</li>
                    <li>Description: </li>
                </ul> <br>
                <button class="btn btn-primary" (click)="logout()">Logout</button> &nbsp;
                <a class="btn btn-primary" [routerLink]="['/location/create']">Create theatre</a>
            </div>
        </div> <br>




        <div class="row" *ngFor="let location of locations">
            <div class="col-6 description">
                <h2>{{location.name}}</h2>
                <p>{{location.description}}</p><br>

                <a class="btn btn-primary" [routerLink]="['/location/update',location.id]">Edit
                    {{ location.name }}</a> &nbsp;
                <a class="btn btn-primary" [routerLink]="['/evento/create', location.id]">Create event </a>


            </div>
            <div class="col-6"><img [src]="rutaCompletaImagen(location.image)" [alt]="location.name">

            </div>

        </div>
    </section>
</div>