<a class="avatar" routerLink="/users/profile" *ngIf="userService.isUserLogged()">My Site</a>
<a class="avatar" routerLink="/users/login" *ngIf="!userService.isUserLogged()">Login</a>
<a class="avatardos" routerLink="/users/register" *ngIf="!userService.isUserLogged()">Register</a>
<a href="#"><img class="logo" src="assets/images/logo.png"></a>




<a class="hamburguer" (click)="showMenu()">
    <i class="fa fa-bars"></i>
</a>
<a class="close" [ngClass]="{'menu_active': mostrarMenu}" (click)="closeMenu()">
    <i class="fa fa-times" aria-hidden="true"></i>
</a>

<nav class="menu" [ngClass]="{'menu_active': mostrarMenu}">

    <ul class="menu_list">
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a a routerLink="/teatros" routerLinkActive="active">Theatres</a></li>
        <li><a routerLink="/maps" routerLinkActive="active">Maps</a></li>
        <li><a href="">Home</a></li>
    </ul>
</nav>