<div class="container">
    <section> <br>
        <h1 class="center about_title ">About</h1>

        <div class="layoutStyle">

            Off Madrid nace con el propósito de visibilizar la escena de teatros alternativos de la ciudad, brindando a
            las
            medianas y pequeñas salas una plataforma web para dinamizar su cartelera, generando un espacio de
            interacción
            con el público, elaborando un branding que estructure su estrategia de marketing y creando un directorio que
            permita a las compañías conocer de primera manos los recursos con los que cuentan dichos espacios. <br><br>

            El público objetivo al que se dirige esta plataforma son aquellos espectadores que son consumidores,
            habituales
            o no, de este tipo de obras y que no encuentran una plataforma que agrupe toda la oferta, de una manera
            estructurada y accesible.
            <br><br>
            Las razones que motivan este proyecto tienen su raíz en la disgregación, la falta de financiación y la
            ausencia
            de apoyo institucional a la escena alternativa. Es necesario incentivar la promoción de la diversidad
            cultural y
            descentralizar la oferta teatral, promoviendo aquellos espacios que apuesten por la calidad artística de las
            propuestas más modestas. <br><br>

            Off Madrid pretende ser una herramienta para dinamizar la precaria situación de las nuevas dramaturgias, las
            que
            se alejan de las grandes producciones, y que son el motor que impulsa la constante renovación del panorama
            teatral, sin las cuales no sería posible la perspectiva de futuro del teatro contemporáneo de nuestro país.
        </div>

    </section>
</div>