<section>
    <h1 class="center">About</h1>
    <div class="row">
        <div class="col-4 p-1">Va usté muy cargadoo al ataquerl diodeno no puedor a wan no te digo trigo por no llamarte
            Rodrigor te voy a borrar el cerito la caidita</div>
        <div class="col-8 p-2">Va usté muy cargadoo al ataquerl diodeno no puedor a wan no te digo trigo por no llamarte
            Rodrigor te voy a borrar el cerito la caidita</div>
    </div>

    Va usté muy cargadoo al ataquerl diodeno no puedor a wan no te digo trigo.Va usté muy cargadoo al ataquerl
    diodeno
    no puedor a wan no te digo trigoVa usté muy cargadoo al ataquerl diodeno no puedor a wan no te digo trigo Va
    usté
    muy cargadoo al ataquerl diodeno no puedor a wan no te digo trigo.Va usté muy cargadoo al ataquerl diodeno
    no puedor a wan no te digo trigoVa usté muy cargadoo al ataquerl diodeno no puedor a wan no te digo trigo Va
    usté
    muy cargadoo al ataquerl diodeno no puedor a wan no te digo trigo.Va usté muy cargadoo al ataquerl diodeno
    no puedor a wan no te digo trigoVa usté muy cargadoo al ataquerl diodeno no puedor a wan no te digo trig
    Va usté muy cargadoo al ataquerl diodeno no puedor a wan no te digo trigo.Va usté muy cargadoo al ataquerl
    diodeno
    no puedor a wan no te digo trigoVa usté muy cargadoo al ataquerl diodeno no puedor a wan no te digo trigo Va
    usté
    muy cargadoo al ataquerl diodeno no puedor a wan no te digo trigo.Va usté muy cargadoo al ataquerl diodeno
    no puedor a wan no te digo trigoVa usté muy cargadoo al ataquerl diodeno no puedor a wan no te digo trigo Va
    usté
    muy cargadoo al ataquerl diodeno no puedor a wan no te digo trigo.Va usté muy cargadoo al ataquerl diodeno
    no puedor a wan no te digo trigoVa usté muy cargadoo al ataquerl diodeno no puedor a wan no te digo trigo
</section>