<footer class="social-footer flex space-between aling-items-center">

    <div class="social-footer__logo">
        <a href="#"><img class="logo" src="assets/images/logo.png"></a>
    </div>

    <p class="copyright">&copy; Copyright 2019 HTML.am</p>

    <div class="social-footer__icons flex">

        <a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a>


        <a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a>

        <a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>

        <a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a>

    </div>

</footer>