*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
   font-family: 'Courier New', Courier, monospace;
    background-image: url("assets/images/A.jpg");
    background-position: top;
    background-size: cover;

}

p {
    font-size: 1.6rem;
}

.container-fluid {
    width: 100%;
}

.container {
    width: 80rem;
    margin: 0 auto;

}