*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
   font-family: 'Courier New', Courier, monospace;
    background-image: url("assets/images/OFF4.jpg");
    background-position: top;
    background-size: cover;

}

p {
    font-size: 1.6rem;
}

.container-fluid {
    width: 100%;
}

.container {
    width: 80rem;
    margin: 0 auto;

}

/*griddddd*/

.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}

.aling-items-center{
    align-items: center;
}

.row{
    display:flex;
}

.col-8{
    width: 60%;
}
.col-6{
    width: 50%;

}

.col-4{
    width: 30%;
}

.p-1{
padding: 1rem;

}
.p-2{

    padding: 2rem;

}
/* helpers */
.center{
    text-align: center;
}

/* layaut */
section{

    background-color: rgba(255, 255, 255, 0.571);
    margin-top: 10rem;
    margin-bottom: 20rem;
    padding: 2rem;
}