*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
/* esto es para que las imagenes se ajusten al contenedor que les hemos designado */
img{
    width: 100%;
    display: block;
}

@font-face {
    font-family: 'abril_fatfaceregular';
    src:url('assets/fonts/AbrilFatface-Regular.otf') format('otf'), 
    url('assets/fonts/abrilfatface-regular.woff') format('woff2'),
         url('assets/fonts/abrilfatface-regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
   font-family: 'Courier New', Courier, monospace;
    background-image: url("assets/images/OFF4.jpg");
    background-position: top;
    background-size: cover;

}

p {
    font-size: 1.6rem;
}

.container-fluid {
    width: 100%;
}

.container {
    width: 110rem;
    margin: 0 auto;

}

/*griddddd*/

.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}

.aling-items-center{
    align-items: center;
}

.row{
    display:flex;
    flex-wrap: wrap;
}

.col-8{
    width: 60%;
}
.col-6{
    width: 50%;

}

.col-4{
    width: 30%;
}
.col-3{

    width: 25%;
}
.p-1{
padding: 1rem;

}
.p-2{

    padding: 2rem;

}
/* helpers */
.center{
    text-align: center;
}

/* layaut */
section{

    background-color: rgba(255, 255, 255, 0.571);
    margin-top: 10rem;
    margin-bottom: 20rem;
    padding: 2rem;
}