@import 'base/reset.css';
@import 'base/typography.css';

@import 'layout/grid.css';

@import 'components/buttons.css';
@import 'components/forms.css';

body {
    background-image: url("../images/aaa.jpeg");
    background-position: top;
    background-size: cover;
}

/*griddddd*/

.flex{
    display: flex;
}

.space-between{
    justify-content: space-between;
}

.aling-items-center{
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.up{
    padding-top: 4rem;
}

.p-05{
    padding: 0.5rem;
}
.p-1{
padding: 1rem;

}
.p-2{

    padding: 2rem;

}

.py-2{
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
}
/* helpers */
.center{
    text-align: center;
}
.offset-4{
    margin-left:30%;
}

.offset-05{
    margin-left:16.5%;
}

.offset-6{
    margin-left:50%;
}

/* layaut */
section{

    background-color: rgba(254, 252, 251, 0.892);
    margin-top: 10rem;
    margin-bottom: 20rem;
    padding: 2rem;
    min-height: 60rem;
}

.layoutStyle{

    margin-top: 2rem;
    margin-bottom: 20rem;
    padding: 7rem;
    min-height: 60rem;
    font-size: 1.8rem;
    line-height : 3.3rem;
    
}

.layoutTheatre{
    padding-top: 3rem;
    padding-right: 3rem;
}
